.App {
  text-align: center;
}

a {
  font-family: "dewi";
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;

  padding-inline: 5%;
}

.main-offer-wrapper {
  background-image: url("../assets/img/offer.png");
}
